# FRONTEND
# dependencies
/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js

# testing
/Frontend/coverage

# production
/Frontend/build

# misc
/Frontend/.DS_Store
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*

# BACKEND

/Backend/node_modules
/Backend/build
/Backend/npm-debug.log
/Backend/.env
/Backend/.DS_Store
