body {
  background-color: rgba(0,0,0,0.1);
}

/* styling paper */
#paper {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 4% auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
  background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: courier, monospace;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

@media screen and (min-width: 940px){
  .flex-container {
      display: flex;
      padding-left: 10%;
  }    
}
@media screen and (min-width: 640px){
  .flex-container {     
      padding-left: 10%;
  }    
}